@media(max-width:650px){
    .icon{
        display: block;
    }
    .box1, .box{
        display: none;
    }
    .header{
        background-color: gray;
        justify-content: space-between;
    }
    .text h1{
        font-size: 70px;
    }
    .photo{
        width: 100%;
        margin: 0;
        margin-top: 50px;
    }
    .center{
        flex-direction: column;
        gap: 50px;
        
    }
    .photo3{
        order: 1;
        width: 90%;
        margin-left: 20px;
    }
    .jpg{
        position: static;
        width: 100%;
        margin-top: 50px;
    
    }
    .cont{
        flex-wrap: wrap;
        gap: 50px;
        
    }
    .all{
        height: 300vh;
    }
}



