* {
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.box{
    display: flex;
    gap: 40px;
}
.box1 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.box1 button {
    width: 90px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgba(85, 0, 136, 1);
    border-radius: 20px;
}